[Unit]
Description=Telegram Bot
After=network.target

[Service]
User=resume
Group=resume

WorkingDirectory=/home/resume/resume_place/
Environment="PYTHONPATH=/home/resume/resume_place/"
ExecStart=/home/resume/resume_place/venv/bin/python3.9 /home/resume/resume_place/manage.py bot

[Install]
WantedBy=multi-user.target
